
/*.leaflet-tooltip {
  width: 300px;
  white-space: normal;
}*/

/*ensure the side column loads last*/
.side-col {
  z-index: 900;
}

body {
  font-family: Lato, sans-serif;
}

/*override the width of the side column*/
@media screen and (min-width: 800px) {
  .w480-ml {
    width: 480px !important;
  }
  
}

#footerBar {
  z-index: 900;
  background: #FCFCFC;
}

h3 {
  font-family: Crimson Text, serif;
}

h2 {
  font-family: Crimson Text, serif;
}

p {
  font-family: Lato, sans-serif;
}

#reset-slider {
  font-family: Lato, sans-serif;
}

#Year, #Acreage {
  display: inline-block;
}

#slider {
  margin-left: auto !important;
  margin-right: auto !important;
}

a {
  color: #046A38;

}

a:hover {
  color: #64A70B;
  
}